body
{
margin:0;
background:#0b1220;
color:#00ffd5;
font-family:Arial, Helvetica, sans-serif;
height:100vh;
overflow:hidden;
}


/* HEADER */

.topbar
{
height:60px;
background:#08101c;
display:flex;
align-items:center;
justify-content:space-between;
padding:10px;
gap:20px;
border-bottom:1px solid #00ffd5;
flex-wrap:wrap;
}

.topbar div
{
display:flex;
align-items:center;
gap:5px;
}


/* MAIN GRID */

.main
{
display:grid;
grid-template-columns: 1fr 300px;
height:calc(100vh - 60px);
width:100%;
}


/* CHART */

.chart-area
{
border-right:1px solid #00ffd5;
padding:5px;
display:flex;
flex-direction:column;
gap:5px;
}

canvas
{
width:100% !important;
height:100% !important;
background:black;
}


/* SIDE PANEL */

.side
{
display:flex;
flex-direction:column;
gap:10px;
padding:10px;
overflow:auto;
}


/* PANEL */

.panel
{
border:1px solid #00ffd5;
padding:8px;
}


/* BUTTONS */

button
{
background:black;
color:#00ffd5;
border:1px solid #00ffd5;
padding:5px 10px;
cursor:pointer;
}

button:hover
{
background:#00ffd5;
color:black;
}


/* INPUT */

input, select
{
background:black;
color:#00ffd5;
border:1px solid #00ffd5;
padding:5px;
}


/* MOBILE */

@media (max-width:900px)
{

.main
{
grid-template-columns: 1fr;
grid-template-rows: 60% 40%;
}

.side
{
flex-direction:row;
flex-wrap:wrap;
}

.panel
{
width:48%;
}

  }
